
.container{
    height: 150px;
    border: 2px;
    border-style: solid;
    border-color: black;

  }
.box1{
    height: 100%;
    padding: 5px;
    display: inline-block;
    border: 2px;
    border-style: solid;
    border-color: black;
}
.box2{
    height: 100%;
    padding: 5px;
    display: inline-block;
    border: 2px;
    border-style: solid;
    border-color: black;
}
.box3{
    height: 100%;
    padding: 5px;
    display: inline-block;
    border: 2px;
    border-style: solid;
    border-color: black;
}
